*{
    margin:0;
    padding:0;
}

.cabeçalho{
    margin: 50px 35px;
    align-items: center;
    display: flex;
    justify-content: space-around;
    background-color: rgb(43, 5, 131);
    border-radius: 20px;

}

.logo{
    width: 50px;
    margin: 10px 15px;
}

.nome-do-site{
    font-size: 45px;
    color: white;
}

.itens{
    color: white;
}

.Categorias{
    color: white;
    margin: 55px 45px 6px;
}

hr{
margin: 0px 30px 20px 30px;
}

