*{
    margin:0;
    padding:0;
}

.cabeçalho{
    margin: 20px 35px;
    background-color: white;
    border-radius: 5px
}

.logo{
    width: 80px;
    margin: 10px 15px;
}

.nome-do-site{
    font-size: 45px;
}
