*{
    margin:0;
    padding:0;
}

.cabeçalho{
    margin: 50px 35px;
    align-items: center;
    display: flex;
    justify-content: space-around;
    background-color: rgb(43, 5, 131);
    border-radius: 20px;

}

.logo{
    width: 50px;
    margin: 10px 15px;
}

.nome-do-site{
    font-size: 45px;
    color: white;
}

.itens{
    color: white;
}

.Categorias{
    color: white;
    margin: 55px 45px 6px;
}

hr{
margin: 0px 30px 20px 30px;
}

.tecnologia{
    background-color:white;
    color:rgb(44, 7, 179);
    border-radius: 15px;
    padding: 5px 20px;
}

.Educação{
    background-color:transparent;
    color:black;
    border-radius: 15px;
    padding: 5px 20px;
}

.Saúde{
    background-color:transparent;
    color: white;
    border-radius: 15px;
    padding: 5px 20px;
}

.Finanças{
    background-color:transparent;
    color: black;
    border-radius: 15px;
    padding: 5px 20px;
}

.case-studies{
    background-color:transparent;
    color: white;
    border-radius: 15px;
    padding: 5px 20px;
}

.topicos{
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.produtos{
    display: flex;
}

.produto p{
    background-color: blue;
    color: antiquewhite;
    padding: 5px 10px;
}